body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#map {
  width: 100vw;
  height: 100vh;
  position: relative;
}

#weather {
  transform: translate(-50%, -50%);
  position: absolute;
  top:30%;
  left: 50%;
  background-color: white;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
}
.title{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.title img{
  width: 30%;
  height: 30%;
}





/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
